@model RedeSocial.Web.ViewModel.Account.AccountViewModel

@{
    ViewData["Title"] = "Perfil";
}
<link rel="stylesheet" href="~/css/perfil.css" />


<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/food/" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="https://robohash.org/@(this.User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value)?size=180x180&bgset=bg1" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.UserName</h1>

            <ul class="d-flex flex-row">
                <li class="twPc-ArrangeSizeFit mr-3">
                    <a href="#" title="Postagens">
                        <span class="twPc-StatLabel twPc-block">Postagens</span>
                        <span class="twPc-StatValue">0</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit mr-3">
                    <a href="#" title="Seguindo">
                        <span class="twPc-StatLabel twPc-block">Seguindo</span>
                        <span class="twPc-StatValue">0</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a href="#" title="Seguidores">
                        <span class="twPc-StatLabel twPc-block">Seguidores</span>
                        <span class="twPc-StatValue">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div> 